@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    height: auto;
}
h1{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    margin-bottom: 2vh;
  
}
.contenedor-principal{
    height: auto;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border:1px solid white; */
}
.contenedor-video-seleccionado{
    width: 62%;
    height: 85vh;
    /* border:1px solid white; */
    color:white;
}
.contenedor-lateral{
    width: 35%;
    height: auto;
    /* border:1px solid white; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap:2vh;
}

/* Estilos contenedor principal */

.contenedor-video-seleccionado video{
    width: 100%;
}
.video-avatar-mostrar img{
    display: block;
    width: 7%;
    border-radius: 50%;
    margin-left: 1%;
    margin-top: 0.8vh;
    float: left;
    
}

.video-texto-mostrar{
    margin-left:1vw;
    width: 85%;
    float: left;
    font-family: 'Poppins', sans-serif;
  
}
.video-texto-mostrar h2{
    
   font-weight: 700;
   font-size: 18px;
   margin-top: 2%;
}
.video-texto-mostrar p{

    font-weight: 400;
    font-size: 14px;
    color:rgba(163, 163, 163, 1);
   
}

/* Estilos del aside */
.video-tarjeta-aside{
 
    width: 100%;
    color:white;
    cursor: pointer;
    margin-bottom: 1vh;
    
}
.video-aside {
    width: 55%;
    float:left;
    /* height: 60%; */
}

.video-texto-aside{
    margin-top: 3vh;
    margin-left: 2%;
    width: 41%;
    float: left;
    font-family: 'Poppins', sans-serif;
  
}
.video-texto-aside h2{
    
   font-weight: 700;
   font-size: 14px;
}
.video-texto-aside p{
    margin-top: 1vh;
    font-weight: 400;
    font-size: 12px;
    color:rgba(163, 163, 163, 1);
}


@media(max-width:1250px){
    .video-aside{
        width: 48%;
    }
    .video-texto-aside{
        width: 50%;
        margin-top: 2vh;
    }
    .video-texto-aside h2{
         font-size: 12px;
     }
     .video-texto-aside p{
        margin-top: 5px;
        font-size: 10px;
       
    }
    
}

@media(max-width:1140px){
    .video-aside{
        width: 46%;
    }
    .video-texto-aside{
        width: 52%;
    }
   
     .video-texto-aside p{
        margin-top: 1px;
       
       
    }
}

@media(max-width:1050px){
    .video-aside{
        width: 42%;
    }
    .video-texto-aside{
        width: 56%;
    }
  
}



@media(max-width:950px){
    .contenedor-principal{
        margin-left: 2vw;
    }
 
    .contenedor-video-seleccionado{
        width: 98%;
        height: 650px;
    }
    .contenedor-lateral{
        width: 98%;
        flex-direction: column;
        gap:2vh;
    }


    
    .video-aside {
        width: 65%;
    }
    
    .video-texto-aside{
        margin-top: 7vh;
        margin-left: 3%;
        width: 30%;
      
    }
    h1{
        font-size:18px ;
    }
    .video-texto-aside h2{
        margin-top: 50px;
       font-weight: 700;
       font-size: 18px;
    }
    .video-texto-aside p{
        margin-top: 10px;
        font-size: 14px;
    }
    .video-avatar-mostrar img{
        width: 5%;
        margin-right: 1%;
        
    }
    
 
    .video-texto-mostrar{
        margin-top: 0;
    }
    .video-texto-mostrar h2{
    
        font-size: 16px;
      
     }
   
   
}
@media(max-width:800px){
    
    .contenedor-video-seleccionado{
        height: 600px;
    }
}
@media(max-width:680px){
   
    .contenedor-video-seleccionado{
        height: 550px;
    }
    .contenedor-lateral{
       padding-left: 10%;
    }
    .video-aside {
        width: 90%;
    }
    
    .video-texto-aside{
        margin-top: 2vh;
        width: 90%;
      
    }

    .video-texto-aside h2{
        margin-top: 0;
       font-weight: 700;
       font-size: 16px;
    }
    .video-texto-aside p{
        margin-top: 0;
        font-size: 12px;
    }
    .video-tarjeta-aside{
        margin-bottom: 25px;
        
    }
    h1{
        font-size:16px ;
    }
}

@media(max-width:600px){
   
    .contenedor-lateral{
       padding-left: 0;
    }
    .video-aside {
        width: 98%;
    }
    
    .video-texto-aside{
        width: 98%;
      
    }


    .video-avatar-mostrar{
       margin-top: 2vh;
        
    }
    .contenedor-video-seleccionado{
   
        height: 500px;
    }
    
    
  
}
@media(max-width:500px){
    .contenedor-video-seleccionado{
   
        height: 450px;
    }

    .video-avatar-mostrar img{
        width: 10%;
    }
    .video-texto-mostrar h2{
        margin-top: 3%;
        font-weight: 700;
        font-size: 15px;
     }
    
    
    
  
}
@media(max-width:450px){
    .contenedor-video-seleccionado{
   
        height: 400px;
    }
}
@media(max-width:400px){
    .contenedor-video-seleccionado{
   
        height: 350px;
    }
}
@media(max-width:350px){
    .contenedor-video-seleccionado{
   
        height: 335px;
    }
}
@media(max-width:300px){
    .contenedor-video-seleccionado{
   
        height: 300px;
    }
}
@media(max-width:250px){
    .contenedor-video-seleccionado{
   
        height: 250px;
    }
}

